@import "./variables.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900");

:root {
  --font-major: "Montserrat", serif;
  --font-minor: "Lato", sans-serif;
  --page: var(--stone-200);
  --page-alt: var(--stone-100);
  --text: var(--stone-900);
  --text-alt: var(--stone-600);
  --accent: var(--steel-600);
  --accent-alt: var(--steel-700);
  --hover: var(--amber-400);
  --danger: var(--rust-600);
  --success: var(--lime-700);
  --transparent: oklch(100% 0.00011 271.152 / 0);
  --nav-size: 68px;

  @media (prefers-color-scheme: dark) {
    --page: var(--stone-800);
    --page-alt: var(--stone-700);
    --text: var(--stone-100);
    --text-alt: var(--stone-300);
    --accent: var(--steel-400);
    --accent-alt: var(--steel-300);
    --hover: var(--gray-100);
    --danger: var(--rust-500);
    --success: var(--lime-500);
    --transparent: oklch(0% 0 0 / 0);
  }
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
}

/* <CSSReset> */
*, *::before, *::after { box-sizing: border-box; }
*                      { margin: 0; padding: 0;  }

input, textarea, select          { outline: none; border: none; }
a                                { text-decoration:       none; }
ul, ol                           {      list-style:       none; }
img, picture, video, canvas, svg {         display:      block; }
button                           {          cursor:    pointer; }
a, button, article  { -webkit-tap-highlight-color: transparent; } /* removes mobile tap highlight */

a, p, h1, h2, h3, h4, h5, h6, button, label, input, textarea, select, option {
  overflow-wrap: break-word;
           font: inherit;
          color: inherit;
}

input[type='number']::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type='number'] { appearance: textfield;   -moz-appearance: textfield; }

::-webkit-scrollbar       { width: 1px; height: 1px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--text); border-radius: 5px; }

@supports (scrollbar-color: auto) and (not selector(::-webkit-scrollbar)) {
  * { scrollbar-width: thin; scrollbar-color: var(--text) transparent; }
}
/* </CSSReset> */

body {
  color: var(--text);
  background: var(--page);
  line-height: 1.2;
  font-family: var(--font-major);
}

#root {
  display: flex; /* Flex set on first available wrapper around header/main/footer */
  flex-direction: column;
  min-height: 100dvh; /* content fits between browser UI elements */
}

#main {
  flex: 1; /* push footer to bottom */
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* side navbar on mobile landscape */
@media (pointer: coarse) and (orientation: landscape) {
  #root { flex-direction: row; }
  /* align main content by width of nav bar (position fixed, not in element flow) */
  #main { margin-left: var(--nav-size); }
}
