@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
  --team-green: #12a1a1;
  --error-red: #c65740;
  --text-grey: #818181;
  --main-gradient: linear-gradient(to right, #dbd9d9, #fff);
  --box-gradient: linear-gradient(to right, #ededed, #fff);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Montserrat", serif;
  color: #272727;
  background: var(--main-gradient);
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/* side navbar on mobile landscape */
@media screen and (pointer: coarse) and (orientation: landscape) {
  #root {
    flex-direction: row;
  }

  #main {
    /* align main content by width of nav bar (position fixed, not in element flow) */
    margin-left: 64px;
  }
}
