.auth-form {
  --color: var(--accent-alt);
  --background: var(--page-alt);
  align-self: center;
  max-width: 100%;
  margin: 0 auto;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0.5rem;

  &.is-login {
    --color: var(--page-alt);
    --background: var(--accent-alt);
  }

  /* override functional component CSS */
  input {
    width: 100%;
    font-size: var(--text-sm);
  }

  > h2 {
    text-align: center;
    text-transform: capitalize;
    text-wrap: nowrap;
    font-weight: 900;
    font-size: var(--text-3xl);
    margin-bottom: -0.5rem;
    padding: var(--padding-sm);
    color: var(--color);
    border: 2px solid var(--color);
    background: var(--background);
    box-shadow: var(--shadow-xl);
    border-radius: var(--rounded-xl);
  }

  > section {
    display: flex;
    gap: 0.5rem;
  }

  .form-link {
    font-size: var(--text-sm);
    font-weight: 900;
    margin-top: 0.2rem;
    margin-bottom: -0.8rem;
    background: none;
    border: none;
    color: var(--accent-alt);
    text-decoration: underline;
  }

  > button:last-of-type {
    align-self: end;
    width: 84px;
  }
}
