.side-bar {
  display: block;
  position: fixed;
  z-index: 20;
  inset: 0;
  right: 0;
  --left: 0;
  left: var(--left);
  height: 100vh;
  width: 100%;
  border: 0;
  background: var(--page);

  &.on-right { --left: auto; }
}

@media (min-width: 768px) {
  .side-bar { width: 45%; }
}
