/* element.class increases specificity to override defaults */
.user-list {
  --min: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
  align-items: start; /* not required, however will overwrite Default's center alignement */
  align-content: start; /* forces rows to stack at top */

  @media (pointer: coarse) { --min: 80px; }
}
