/* element.class increases specificity to override defaults */
.user-list {
  --min: 100px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--min), 1fr));
  align-items: start;
  align-content: start; /* forces rows to stack at top */
  height: auto !important; /* opt out of <PagedList> inline style fixed height lock */

  @media (pointer: coarse) { --min: 80px; }
}
