.user-item {
  cursor: pointer;

  /* uses .truncate class */
  > h2 {
    padding: 0.1rem 0.2rem 0;
    font-size: 90%;
    font-weight: 600;

    @media (pointer: coarse) { font-size: 60%; }
  }

  > img {
    width: 100%;
    border-radius: var(--rounded-xl);
    box-shadow: var(--shadow-xl);
  }

  > p {
    padding-left: 0.1rem;
    font-size: var(--text-xs);
    color: var(--text-alt);

    @media (pointer: coarse) { font-size: 50%; }
  }
}
