.name-tag {
  max-width: 100%;
  min-width: 0;
  display: flex;
  align-items: end;
  gap: 0.25rem;
  cursor: pointer;
}

.bold {
  font-weight: 900;
  text-decoration: underline;
  text-underline-offset: 0.2rem;

  > img { border: 1.5px solid var(--fg); }
}

.reverse { > img { order: 1; }  }
.start   { align-items: start;  }
.center  { align-items: center; }
