<%
  const { active, docCount, docsPerPage } = pagination;
  const last   = Math.ceil(docCount / docsPerPage);
  const middle = last < 5 ? 3 : Math.min(Math.max(active, 3), last - 2);
  const pages  = []

  if (last >= 1) pages.push(1);
  if (last >= 2) pages.push(middle - 1);
  if (last >= 3) pages.push(middle);
  if (last >= 4) pages.push(middle + 1);
  if (last >= 5) pages.push(last);
%>

<nav class="pagination">
  <% pages.map(page => { %>
    <a href="?page=<%= page %>" class="<%= page === active ? 'active' : '' %>">
      <%= page %>
    </a>
  <% }) %>
</nav>
