.error-pop-up {
  position: absolute;
  padding: 0.1rem 0.2rem;
  font-size: 80%;
  text-wrap: nowrap;
  overflow-x: scroll;
  max-width: 95%;
  border-radius: 2px;
  background: var(--error-red);
  color: #fff;

  &::-webkit-scrollbar-thumb {
    background: #fff;
  }
}
