.pagination {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto 1rem;
  padding: 0.2rem;
  overflow-x: scroll;
  max-width: 100%;

  > a {
    font-size: var(--text-lg);
    color: var(--accent);
    text-align: center;
    min-width: 2rem;
    border: var(--border-accent);
    border-radius: 3px;
    transition: 0.5s ease;

    &:hover, &.active {
      background-color: var(--accent);
      color: var(--bg);
    }
  }

  > span {
    color: var(--accent);
    align-self: end;
  }
}
