.pagination {
  display: flex;
  gap: 0.5rem;
  margin: auto auto 1rem;
  padding: 0.2rem;
  overflow-x: scroll;
  max-width: 100%;

  .button { /* default class overrides */
    --color: var(--accent);
    --background: var(--bg);
    font-size: var(--text-lg);
    text-align: center;
    min-width: 2rem;

    &.active {
      color: var(--background);
      background-color: var(--color);
    }
  }

  > span {
    color: var(--accent);
    align-self: end;
  }
}
