.social-actions {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: 0.5rem;

  > button {
    width: 145px;

    > span {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
    }
  }
}
