.chat-list {
  flex: 1;
  width: 100%;
  max-width: 600px;
  overflow-y: scroll;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  padding: 0.1rem;

  &::-webkit-scrollbar { height: 0; }
}

.isMobile { > li { max-height: calc(100vh - 136px); } }
.isMenu   { > li { max-height: 360px;               } }

@media screen and (pointer: coarse) and (orientation: landscape) {
  .isMobile { > li { max-height: calc(100vh - 68px); } }
  .isMenu   { > li { max-height: 100%;               } }
}

.delete-buttons {
  > button {
    border: 1px solid transparent;
    font-weight: 500;

    &:first-of-type {
      width: 125px;
      margin-right: 0.1rem;
    }
  }
}

.fallback {
  padding: 0.25rem;
  margin: 1rem auto;
  text-align: center;
}
