.alerts-body {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;

  > ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.5rem;
    overflow-y: scroll;

    > li { padding: 0.5rem; }
  }
}
