.header {
  z-index: 3; /* higher than <UserNavMenu> */
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-x: scroll;
  background: var(--accent);
  box-shadow: var(--shadow-pop);

  &::-webkit-scrollbar-thumb { background: var(--page); }

  @media (pointer: coarse) and (orientation: landscape) {
    flex-direction: column;
    position: fixed;
    height: 100vh;
  }

  > h1 {
    color: var(--page);
    border: 2px solid var(--page);
    border-radius: var(--rounded-xs);
    font-size: var(--text-xl);
    font-weight: 900;
    padding: var(--padding-sm);
    cursor: pointer;

    span {
      &:last-of-type { display: none; }
      @media (max-width: 768px), (pointer: coarse) and (orientation: landscape) {
        &:first-of-type { display: none;  }
        &:last-of-type  { display: block; }
      }
    }
  }
}

.nav {
  --margin: auto; /* last-button */
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  @media (pointer: coarse) and (orientation: landscape) {
    --margin: auto;
    flex-direction: column;
  }

  > button {
    color: var(--page);
    &:last-of-type { margin-left: var(--margin); }
  }
}
