.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  height: var(--nav-size);
  overflow-x: scroll;
  background: var(--accent);
  box-shadow: var(--shadow-pop);

  &::-webkit-scrollbar-thumb { background: var(--page); }

  > h1 {
    color: var(--page);
    border: 2px solid var(--page);
    border-radius: var(--rounded-xs);
    font-size: var(--text-xl);
    font-weight: 900;
    padding: var(--padding-sm);
    cursor: pointer;

    span:last-of-type { display: none; }
  }
}

.nav {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  > button {
    color: var(--page);
    &:last-of-type { margin-left: auto; }
  }
}

/* move nav bar to the left of screen on mobile landscape */
@media screen and (pointer: coarse) and (orientation: landscape) {
  .header {
    flex-direction: column;
    position: fixed;
    height: 100dvh;
    width: var(--nav-size);
    overflow-x: hidden;

    > h1 {
      span {
        &:first-of-type { display: none; }
        &:last-of-type  { display: block; }
      }
    }
  }

  .nav {
    flex-direction: column;
    > button:last-of-type { margin-left: 0; }
  }
}

@media screen and (max-width: 768px) {
  .header {
    > h1 {
      span {
        &:first-of-type { display: none; }
        &:last-of-type  { display: block; }
      }
    }
  }
}
