.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem auto;
  width: 400px;
  max-width: 95%;
  overflow: hidden;

  &.expanded { width: var(--screen-md); }

  > img {
    flex: 1 1;
    width: 50%;
    object-fit: cover;
  }
}

.item-form {
  flex: 1 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--text-3xl);
  }

  > button {
    --background: var(--accent);
    background: var(--background);
    align-self: end;
    padding: 0.25rem 0.5rem;
    color: var(--bg);
    border: var(--border-bg);
    border-radius: var(--radius-sm);
    transition: 0.5s ease-in-out;

    &.update {
      --background: var(--steel-400);

      @media (prefers-color-scheme: dark) { --background: var(--steel-300); }
    }

    &:hover {
      background: var(--bg);
      color: var(--background);
      border-color: var(--background);
    }
  }
}

#image-file {
  background: #fff; /* native element color */
  color: var(--fg);
  cursor: pointer;

  > input { display: none; }
  @media (prefers-color-scheme: dark) { background: #3b3b3b; } /* native element color */
}

.control {
  display: flex;
  flex-direction: column;

  label {
    padding-left: 0.5rem;
    color: var(--text);
    font-size: var(--text-sm);

    &.error { color: var(--error); }
  }

  input, textarea, #image-file {
    padding: 0.25rem 0.5rem;
    border: var(--border-bg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
    resize: none;
  }
}
