.auth-form {
  --steel:  var(--steel-400);
  --lime:   var(--lime-600);
  --purple: var(--purple-600);
  width: 95%;
  max-width: 280px;
  margin: 1rem auto;
  padding: 1rem;
  padding-top: 0.25rem;
  text-align: right;

  @media (prefers-color-scheme: dark) {
    --steel:  var(--steel-300);
    --lime:   var(--lime-400);
    --purple: var(--purple-300);
  }

  > h2 {
    text-align: center;
    font-size: var(--text-3xl);
    margin-bottom: 0.25rem;

    &.reset {
      font-size: var(--text-2xl);
      margin-bottom: 0.5rem;
    }
  }

  > a {
    display: block;
    transition: color 0.5s ease;

    span { display: block; }

    &:hover { color: var(--fg); }
  }
}

.control {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 0.5rem;

  &:last-of-type { margin-bottom: 0.25rem; }

  label {
    padding-left: 0.5rem;
    color: var(--text);
    font-size: var(--text-sm);

    &.error { color: var(--error); }
  }

  input {
    padding: 0.25rem 0.5rem;
    border: var(--border-bg);
    border-radius: var(--radius-lg);
    box-shadow: var(--shadow-lg);
  }
}

.submit {
  --background: var(--lime);
  background: var(--background);
  margin-top: 0.25rem;
  padding: 0.125rem 0.25rem;
  font-size: var(--text-sm);
  color: var(--bg);
  border: var(--border-bg);
  border-radius: var(--radius-sm);
  transition: 0.5s step-start;

  &.signup   { --background: var(--steel);  }
  &.reset    { --background: var(--error);  }
  &.password { --background: var(--purple); }

  &:hover {
    transform: scale(1.05);
    background: var(--bg);
    color: var(--background);
    border-color: var(--background);
  }
}

.form-link {
  --color: var(--steel);
  color: var(--color);
  font-size: var(--text-xs);
  font-weight: 700;
  text-decoration-line: underline;
  text-align: center;

  &.signup { --color: var(--lime); }
}

.password-link {
  --color: var(--error);
  color: var(--color);
  font-size: var(--text-sm);
  text-align: end;
  margin-top: 0.25rem;

  &.reset { --color: var(--lime); }
}
