.auth-form {
  --steel:  var(--steel-400);
  --lime:   var(--lime-600);
  --orange: var(--orange-400);
  width: 95%;
  max-width: 280px;
  margin: 1rem auto;
  padding: 1rem;
  padding-top: 0.25rem;
  text-align: right;

  @media (prefers-color-scheme: dark) {
    --steel:  var(--steel-300);
    --lime:   var(--lime-500);
    --orange: var(--orange-300);
  }

  > h2 {
    text-align: center;
    font-size: var(--text-3xl);
    margin-bottom: 0.25rem;

    &.reset {
      font-size: var(--text-2xl);
      margin-bottom: 0.5rem;
    }
  }

  > a {
    display: block;
    transition: color 0.5s ease;

    span { display: block; }

    &:hover { color: var(--text); }
  }
}

.control {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 0.5rem;

  &:last-of-type { margin-bottom: 0.25rem; }

  label {
    padding-left: 0.5rem;
    color: var(--text);
    font-size: var(--text-sm);

    &.error { color: var(--error); }
  }

  input {
    padding: var(--padding-sm);
    border: var(--border) var(--bg);
    border-radius: var(--rounded-lg);
    box-shadow: var(--shadow-lg);
  }
}

.submit {
  --background: var(--lime);
  margin-top: 0.25rem;
  &.signup   { --background: var(--steel);  }
  &.reset    { --background: var(--error);  }
  &.password { --background: var(--orange); }
}

.form-link {
  --color: var(--steel);
  color: var(--color);
  font-size: var(--text-xs);
  font-weight: 800;
  text-decoration-line: underline;
  text-align: center;

  &.signup { --color: var(--lime); }
}

.password-link {
  --color: var(--error);
  color: var(--color);
  font-size: var(--text-sm);
  font-weight: 700;
  text-align: end;
  margin-top: 0.25rem;

  &.reset { --color: var(--lime); }
}
