.reply {
  --pl: 0;
  --pr: 2rem;
  padding-left: var(--pl);
  padding-right: var(--pr);

  > header {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 0.25rem;
    padding: 1rem 1.2rem 0.2rem;
    cursor: pointer;
  }

  > p {
    color: var(--text-alt);
    padding: 1rem;
    position: relative;

    > span {
      display: block;
      max-height: 100px;
      overflow-y: scroll;
      text-align: center;
      line-height: 1.3;
      padding: 0 0.5rem;
    }

    > button {
      display: block;
      margin: -0.5rem;
      margin-left: auto;
      font-size: var(--text-sm);
    }
  }
}

.reverse {
  --pr: 0;
  --pl: 2rem;

  > header {
    > h2 { order: 1; } /* <NameTag> last in order */
  }
}
