.user-profile {
  align-self: center;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  overflow: auto;
  padding: 0.75rem;
  margin-bottom: 0.2rem;
  border: var(--border-accent);
  background: var(--box);

  .profile-pic {
    width: 150px;
    > div {
      box-shadow: var(--shadow-xl);

      > img {
        width: 150px;
        border-radius: 0;
        background: var(--box);
      }

      > h2 {
        padding: 0.2rem;
        padding-bottom: 0.4rem;
        text-align: center;
        font-weight: 600;
        background: var(--accent);
        width: 100%;
      }
    }
    > button {
      width: 100%;
      margin-top: 0.5rem;

      > span {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.2rem;
      }
    }
  }

  .user-info {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

    > h2 {
      color: var(--accent);
      font-weight: 500;
    }
  }
}

.info-tag {
  color: var(--text);

  > svg {
    width: 20px;
    color: var(--accent);
  }
}
