<% const activeTab = (href) => href === activeDash ? 'active' : '' %>

<div class="dashboard scrollbar-bg">
  <a href="/orders" class="<%= activeTab('orders') %>">Orders</a>
  <a href="/admin/items" class="<%= activeTab('items') %>">Listings</a>
  <a href="/admin/form" class="<%= activeTab('form') %>">Post an ad</a>
  <p>
    <button onclick="showModal('#modal-logout')">Logout</button>
  </p>
</div>

<script src="/script/modal.js"></script>

<dialog id="modal-logout" class="modal">
  <p>Are you sure?</p>
  <div>
    <form action="/logout" method="post">
      <input type="hidden" name="_csrf" value="<%= csrf %>" />
      <button class="danger-btn">Probably</button>
    </form>
    <button onclick="closeModal('#modal-logout')">Probably Not</button>
  </div>
</dialog>
