<footer id="footer">
  <hr />
  <section>
    <h1>Digital Bay</h1>
    <nav>
      <a href="/about">About</a>
      <a href="/terms">Terms & Conditions</a>
      <a href="/privacy">Privacy Policy</a>
    </nav>
    <h1>Node.Js</h1>
  </section>
  <hr />
  <section>
    <p>© 2024 Classified Ads Demo. All rights reserved.</p>
    <a
        href="https://github.com/thegroosalugg/anOdeToNode/tree/main/13-Payments"
      target="_blank"
    >
      View Source Code
    </a>
    <p>Designed with Express 4, EJS 3 and Mongoose 8</p>
  </section>
</footer>
