.error-pop-up {
  position: absolute;
  padding: 0.1rem 0.2rem;
  font-size: 80%;
  text-wrap: nowrap;
  overflow-x: scroll;
  max-width: 95%;
  border-radius: var(--radius-md);
  background: var(--error);
  color: var(--gray-100);

  &::-webkit-scrollbar-thumb {
    background: var(--gray-100);
  }
}
