.error {
  width: 90%;
  margin: 0 auto;
  padding: var(--padding-sm);
  border-radius: var(--rounded-xl);
  background: var(--danger);
  color: var(--page);
  text-align: center;
  box-shadow: var(--shadow-pop);
}
