.error-pop-up {
  position: absolute;
  padding: 0.125rem 0.5rem;
  font-size: 80%;
  text-align: center;
  text-transform: capitalize;
  max-width: 95%;
  border-radius: var(--rounded-lg);
  box-shadow: var(--shadow-2xl);
  background: var(--danger);
  color: var(--page);
  cursor: pointer;

  &::-webkit-scrollbar-thumb { background: var(--page-alt); }
}
