.button {
  --color: var(--page); /* overriden by styles: defined here for reference */
  --background: var(--accent);
  --border-color: var(--accent);
  width: fit-content;
  padding: var(--padding-sm);
  border-radius: var(--rounded-lg);
  border: var(--border) var(--border-color);
  background-color: var(--background);
  /* background-clip: padding-box; */
  color: var(--color);
  box-shadow: var(--shadow-pop);
  font-weight: 600;
  transition: color var(--transition), background-color var(--transition), border-color var(--transition);

  @media (pointer: fine) {
    &:hover {
      background-color: var(--color);
      color: var(--background);
      border-color: var(--background);

      /* on this hover change css variable prop of all child elements to bg of this element -- */
      * { --color: var(--background); } /* forces nested spinners to invert on button:hover by changing their --color */
    }
  }

  &:disabled {
    /* opacity: 0.8; */ /* controlled by framer-motion: CSS opacity doesn't work if opacity is part of motion-animations */
    pointer-events: none;
    box-shadow: none;
  }
}
