.button {
  --color: var(--page); /* overriden by styles: defined here for reference */
  --background: var(--accent);
  --border-color: var(--accent);
  width: fit-content;
  padding: var(--padding-sm);
  border-radius: var(--rounded-lg);
  border: var(--border) var(--border-color);
  background-color: var(--background);
  color: var(--color);
  box-shadow: var(--shadow-pop);
  font-weight: 600;
  /* all transitions set explicitly to avoid framer-motion conflicts */
  transition:
    color            var(--transition),
    background-color var(--transition),
    border-color     var(--transition),
    box-shadow       var(--transition);

  @media (pointer: fine) {
    &:hover {
      background-color: var(--color);
      color: var(--background);
      border-color: var(--background);

      /* on this hover change css variable prop of all child elements to bg of this element -- */
      * { --color: var(--background); } /* forces nested spinners to invert on button:hover by changing their --color */
    }
  }

  &:disabled {
    pointer-events: none;
    box-shadow: none;
  }
}
