.icon-button {
  position: relative;
  padding: 0.25rem;
  font-weight: 700;
  font-size: var(--text-sm);
  color: var(--accent);
  border: none;
  background: none;
  transition: var(--transition);

  > svg {
    display: block;
    margin: 0 auto;
  }

  .active-tab {
    position: absolute;
    left: 0;
    bottom: 0.1rem;
    height: 2px;
    width: 100%;
    border-radius: 3px;
    background: var(--hover);
  }

  &:disabled { cursor: wait; filter: brightness(0.75); }
  &.active   { color: var(--hover);  }
}
