.post-form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  overflow-y: scroll;
  padding: 1rem 2rem 2rem;

  > section {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    > label {
      max-width: 200px;
      @media (min-width: 768px) { max-width: 280px; }
    }

    > button {
      display: block;
      align-self: start;
      min-width: 56px;
    }
  }
}
