<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { title, css: typeof css !== 'undefined' ? css : view }) %>
  <body>
    <%- include('includes/nav') %>
    <%- include(view, locals) %>
  </body>
</html>
