:root {
  --font-major: "Montserrat", serif;
  --font-minor: "Lato", sans-serif;
  --bg: var(--stone-400);
  --fg: var(--stone-900);
  --accent: var(--loam-800);
  --accent-2: var(--loam-950);
  --text: var(--stone-600);
  --box: var(--stone-200);
  --error: var(--rust-600);
  --hover: var(--amber-300);
  --transparent: oklch(100% 0.00011 271.152 / 0);
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
  :root {
    --bg: var(--stone-800);
    --fg: var(--stone-100);
    --accent: var(--loam-500);
    --accent-2: var(--loam-400);
    --text: var(--stone-300);
    --box: var(--stone-700);
    --error: var(--rust-500);
    --hover: var(--gray-50);
    --transparent: oklch(0% 0 0 / 0);
  }
}

/* <CSSReset> */
*, *::before, *::after { box-sizing: border-box; }
*                      { margin: 0; padding: 0;  }

input, textarea, select          { outline: none; border: none; }
a                                { text-decoration:       none; }
ul, ol                           {      list-style:       none; }
img, picture, video, canvas, svg {         display:      block; }
button                           {          cursor:    pointer; }
a, button, article  { -webkit-tap-highlight-color: transparent; } /* removes mobile tap highlight */

a, p, h1, h2, h3, h4, h5, h6, button, label, input, textarea, select, option {
  overflow-wrap: break-word;
           font: inherit;
          color: inherit;
}

input[type='number']::-webkit-inner-spin-button { -webkit-appearance: none; }
input[type='number'] { appearance: textfield;   -moz-appearance: textfield; }

::-webkit-scrollbar       { width: 1px; height: 1px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--fg); border-radius: 5px; }

@supports (scrollbar-color: auto) and (not selector(::-webkit-scrollbar)) {
  * { scrollbar-width: thin; scrollbar-color: var(--fg) transparent; }
}
/* </CSSReset> */

body {
  color: var(--fg);
  background: var(--bg);
  line-height: 1.2;
  font-family: var(--font-major);
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

#main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
