.backdrop {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.hidden {
  display: none;
  @media (min-width: 768px) { display: block; }
}
