.confirm-dialog {
  padding: 0.5rem;
  background: var(--page);
  overflow-x: scroll;
  width: 280px;
  border-radius: var(--rounded-lg);

  > h2 {
    text-align: center;
    font-size: var(--text-xl);
    margin-bottom: 0.5rem;
  }

  > section {
    display: flex;
    gap: 0.5rem;

    > button { width: 128px; }
  }
}
