.friend-alert {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25em;
  font-size: 0.7rem;
  padding: 0.5rem 0.25rem 0.25rem;
  border: 1px solid var(--team-green);
  background: var(--main-gradient);
  overflow-wrap: break-word;

  .alert-text {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 0.2em;
    width: 100%;

    > img {
      align-self: start;
    }

    > span {
      padding-top: 0.1rem;
    }
  }

  .name-tag {
    cursor: pointer;
    color: var(--dark-grey);
    /* max-width: 5rem;
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.25rem;

    > button {
      width: 52px;
      border-radius: 5px;
      padding: 0.1rem 0.2rem;
      font-size: 0.7rem;
      font-weight: 600;
    }
  }

  .x-btn {
    border: 0;
    background: none;
    margin-right: 0.25rem;
  }

  .cancel-btn {
    padding: 0.1rem 0.25rem;
    margin-top: 0.2rem;
    font-size: 0.6rem;
    border: 0;
    border-radius: 5px;
    color: #fff;
  }
}

.time-stamp {
  position: absolute;
  top: 0.05rem;
  right: 0.25rem;
  font-size: 0.5rem;
  color: var(--text-grey);
}

.fallback {
  padding: 0.25rem;
  margin: auto;
  font-size: 0.9rem;
  text-align: center;
}
