.notifications {
  position: fixed;
  top: 0.25rem;
  right: 0.25rem;
  height: 240px;
  max-height: calc(100vh - 0.5rem);
  max-width: calc(100% - 0.5rem);
  width: 225px;
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--team-green);
  background: var(--box-gradient);
  color: var(--team-green);
  z-index: 99;
}

.menu-bar {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  margin-bottom: 0.5rem;

  > button {
    border: none;
    background: none;
    color: var(--team-green);
    padding: 0.1rem;

    &:nth-of-type(2) {
      padding: 0.1rem 0.5rem;
      border-left: 1px solid var(--team-green);
      border-right: 1px solid var(--team-green);
    }
  }
}

.alert {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  padding: 0 0.3rem 0.1rem;
  border-radius: 50%;
  font-size: 0.5rem;
  background: var(--error-red);
}
