.reply-alerts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25em;
    font-size: 0.7rem;
    padding: 0.55rem 0.25rem 0.2rem;
    background: var(--main-gradient);
    color: var(--team-green);
    border: 1px solid var(--dark-grey);

    > section {
      display: flex;
      flex-direction: column;
      width: 100%;
      min-width: 0; /* Important! Tells flex child it can shrink below content size */

      > p {
        margin-left: 0.5rem;
        font-size: 0.7rem;
        text-wrap: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: var(--text-grey);
      }
    }

    > button {
      background: none;
      border: none;
    }
  }
}

.fallback {
  padding: 0.25rem;
  margin: auto;
  font-size: 0.9rem;
  text-align: center;
}
