.cart {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 400px;
  width: 100%;
  margin: 0.5rem auto 1rem;

  h1 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.2rem;
    margin-bottom: 0.2rem;
    color: #e2e2e2;
    background: #1b1b1b;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;
    max-height: 400px;
    overflow-y: auto;
    padding: 1rem;
    margin: 0 1rem;
    border-top: 1px solid #686868;
    border-bottom: 1px solid #686868;
    text-shadow: 1px 1px 2px #000;

    /* empty cart */
    h2 {
      font-size: 1.2rem;
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    li {
      display: flex;
      background: linear-gradient(to right, #e0e3e3, #e8e8e8);
      border: 1px solid #000;

      a {
        width: 100px;
        img {
          width: inherit;
          height: 100px;
          object-fit: cover;
          background: #000000;
          border-right: 1px solid #000;
          cursor: pointer;
        }
      }

      > section {
        width: 150px;
        display: flex;
        flex-direction: column;
        align-items: end;
        padding: 0.4rem;
        font-family: 'Oswald', sans-serif;

        h4 {
          flex: 1;
          max-width: 100%;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          font-weight: 200;
          text-transform: uppercase;
          text-wrap: nowrap;
          overflow-x: scroll;
          border-left: 1rem solid transparent;
          border-right: 1px solid #000;

          > span {
            margin-right: 0.5rem;
          }
        }

        > div {
          display: flex;
          align-items: center;
          line-height: 1.8;
          gap: 0.4rem;
          font-family: 'Unlock', sans-serif;
          border-top: 1px solid #000;
          border-bottom: 1px solid #000;

          > p {
            width: 20px;
            text-align: center;
            text-shadow: 0.5px 0.5px 1px #000;
          }
        }

        > h5 {
          font-weight: 300;
        }
      }
    }
  }

  h3 {
    color: #000;
    text-align: end;
    margin-right: 1rem;
  }
}

.cart-button {
  button {
    padding: 0.1rem;
    background: linear-gradient(to right, #000000, #4a4a4a);
    border: 1px solid #000;
    transition: 0.9s step-start;
    i {
      color: #ffffff;
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}

.order-button {
  button {
    width: 80%;
    height: 1.8rem;
    display: block;
    margin: auto;
    padding: 0.25rem;
    text-transform: uppercase;
    border: 1px solid #000;
    background: #4786ba;
    color: #efefef;
    transition: 0.5s ease-in-out;

    &:hover {
      font-size: 1rem;
      background: #1b1b1b;
    }
  }
}
