.form {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 1rem;
  padding-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  > h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.8rem;
  }

  > section {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;

    label, input, textarea {
      text-shadow: 1px 1px 2px #8c8c8c;
      font-size: 1.2rem;
      overflow-x: scroll;
    }

    label {
      padding: 0.2rem;
      text-transform: capitalize;
      color: #ffffff;
      background: linear-gradient(to right, #000000, #434343);
    }

    input {
      height: 2rem;
    }

    input, textarea {
      padding: 0.1rem 0.3rem;
      text-shadow: 1px 1px 2px #5f5f5f;
      border: none;
      background: linear-gradient(to right, #ffffff, #fcfcfc);
      resize: none;
    }
  }

  button {
    padding: 0.2rem 0.3rem;
    font-size: 1.2rem;
    background: #0c5f74;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
    overflow-x: scroll;
    transition: 0.5s ease-in-out;

    &:hover {
      background: #000000;
    }
  }
}
