.edit-form-wrapper {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;

  > img {
    flex: 1 1;
    width: 100%;
    max-width: 400px;
    object-fit: contain;
    background-color: #000000;
    border: 1px solid #000000;
  }

  .item-form {
    flex: 1 1;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #000;
    background: linear-gradient(to right, #e0e3e3, #e8e8e8);

    > h1 {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 1.8rem;
    }

    > section {
      display: flex;
      flex-direction: column;

      label, input, textarea {
        text-shadow: 1px 1px 2px #8c8c8c;
        font-size: 1.2rem;
        overflow-x: scroll;
      }

      label {
        padding: 0.2rem;
        text-transform: capitalize;
      }

      input {
        height: 2rem;
      }

      input, textarea {
        padding: 0.1rem 0.3rem;
        border: 1px solid #000;
        border-radius: 2px;
        resize: none;
      }
    }

    button {
      padding: 0.2rem 0.3rem;
      font-size: 1.2rem;
      background: #546b11;
      color: #ffffff;
      border: none;
      border-radius: 3px;
      overflow-x: scroll;
      transition: 0.5s ease-in-out;

      &.update {
        background: #ba7747;
      }

      &:hover {
        background: #1b1b1b;
      }
    }
  }
}
