.orders {
  display: grid;
  gap: 0.8rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(248px, 496px));
  align-items: start;
  justify-content: center;

  > h1 {
    text-align: center;
  }

  > li {
    padding: 0.5rem;
    border: 1px solid #000;
    background: linear-gradient(to right, #e0e3e3, #e8e8e8);

    > h2 {
      color: #000c40;
      text-shadow: 0.5px 0.5px 1px #000;
      &:last-of-type {
        margin-bottom: 0.3rem;

        span:last-of-type {
          font-family: 'Oswald', sans-serif;
          font-size: 0.9rem;
          font-weight: 300;
        }
      }
    }

    > ul {
      max-height: 300px;
      overflow: auto;
      display: flex;
      flex-direction: column;
      gap: 1rem;

      > li {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 0.5rem;
        padding-bottom: 1rem;
        border-bottom: 2px solid #616161;

        &:last-of-type {
          padding-bottom: 0;
          border-bottom: none;
        }

        img {
          height: 100px;
          width: 100px;
          object-fit: cover;
          background: #fefefe;
          border: 0.5px solid #000;
        }

        section {
          align-self: start;
          display: flex;
          flex-direction: column;
          gap: 0.2rem;

          &:first-of-type {
            flex-direction: row;
          }

          &:last-of-type {
            background: #ffffff;
            border: 1px solid #000;
            padding: 0.3rem;
            width: 231px;

            p:last-of-type {
              border-top: 1px solid #000;
            }
          }
        }
      }
    }
  }
}

.detail-row {
  display: grid;
  grid-template-columns: 60px 60px;
  gap: 0.5rem;

  &.order-price {
    grid-template-columns: 1fr 60px;
  }

  span {
    text-align: end;
    text-wrap: nowrap;
    overflow-x: scroll;
    line-height: 1.45;

    &:last-of-type {
      font-family: 'Oswald', sans-serif;
    }

    &::-webkit-scrollbar {
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: #767676;
      border-radius: 5px;
    }
  }
}
