.spinner {
  --size: 80px;
  --spinner-ratio: 0.8;
  --border-ratio:  0.1;
  --color: var(--accent);

  position: relative;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width:  var(--size);
  height: var(--size);
  margin: 0 auto;

  > div {
    position: absolute;
    width:  calc(var(--size) * var(--spinner-ratio));
    height: calc(var(--size) * var(--spinner-ratio));
    border: calc(var(--size) * var(--border-ratio)) solid var(--color);
    border-color: var(--color) transparent transparent transparent;
    border-radius: 50%;
    animation: spin 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) { animation-delay: -0.45s; }
    &:nth-child(2) { animation-delay: -0.3s;  }
    &:nth-child(3) { animation-delay: -0.15s; }
  }
}

@keyframes spin {
    0% { transform: rotate(0deg);   }
  100% { transform: rotate(360deg); }
}
