.footer {
  background: var(--accent-hover);
  color: var(--bg);
  text-align: center;
  padding: 1rem;
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  .footer { display: none; }
}
