.footer {
  background: var(--accent);
  color: var(--page);
  box-shadow: var(--shadow-top);
  transition: var(--transition);

  a, p { transition: var(--transition); }
  a:hover:not(.no-hover) { font-weight: 700; }

  @media screen and (pointer: coarse) and (orientation: landscape) { display: none; }
}

.top-section, .bottom-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1.5rem 1rem;
  border-top: 2px solid var(--page-alt);
  overflow-x: scroll;
  font-size: var(--text-sm);
}

.top-section {
  text-align: center; /* @column: <a> at center */

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: flex-start; /* @row: align <p> content at top */
    text-align: start; /* & align <a> on left */
    gap: 3rem;
  }

  p {
    font-size: var(--text-2xl);
    font-weight: 900;
    max-width: 100%;

    &:last-of-type {
      font-weight: 600;

      @media (min-width: 768px) { margin-left: auto; }
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media (min-width: 768px) { gap: 1rem; }
  }
}

.bottom-section {
  justify-content: space-between;
  font-size: var(--text-xs);
  box-shadow: var(--shadow-top);
  text-align: center;

  > * { flex-basis: 33.3333%; }

  @media (min-width: 768px) {
    flex-direction: row;

    :nth-child(1) { text-align: start; }
    :nth-child(3) { text-align: end;   }
  }
}
