.footer {
  margin-top: 0.5rem;
  text-align: center;
  overflow-x: auto;
  background: var(--accent);
  color: var(--page);

  a {
    transition: var(--transition);
    &:hover { color: var(--hover); }
  }

  hr {
    border: var(--border) var(--text-alt);
    box-shadow: var(--shadow-xl);
  }

  > section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    padding: 1.5rem 1rem;
    font-size: var(--text-sm);

    &:nth-of-type(1) {
      @media (min-width: 768px) {
        flex-direction: row;
        align-items: flex-start;
        gap: 3rem;
        text-align: start;
      }

      h1 {
        font-size: var(--text-xl);
        font-weight: 900;
        max-width: 100%;

        &:last-of-type {
          font-weight: 500;
          @media (min-width: 768px) { margin-left: auto; }
        }
      }

      nav {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        @media (min-width: 768px) { gap: 1rem; }
      }
    }

    &:nth-of-type(2) {
      justify-content: space-between;
      font-size: var(--text-xs);

      @media (min-width: 768px) { flex-direction: row; }
    }
  }
}

@media screen and (pointer: coarse) and (orientation: landscape) {
  .footer { display: none; }
}
