.header {
  margin-bottom: 0.25rem;
  font-size: var(--text-lg);
  font-weight: bolder;
  color: var(--text-alt);
}

.list {
  list-style-type: disc;
  list-style-position: inside;
  margin-bottom: 0.25rem;

  > li { overflow-wrap: break-word; }
}
