.store {
  display: flex;
  flex-direction: column;
  color: #000000;

  h1 {
    text-align: center;
    text-shadow: 0.5px 0.5px 1px #000;
    font-size: 1.5rem;
    padding: 1rem;
    background: #ba6247;
  }

  > button {
    width: fit-content;
    color: #efefef;
    background: linear-gradient(to right, #000000, #434343);
    align-self: flex-end;
    padding: 0.5rem;
    margin: 1rem 1rem 0;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;

    &:hover {
      transform: scale(0.95);
    }
  }

  ul {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;

    li {
      display: flex;
      flex-direction: column;
      width: 200px;
      background: linear-gradient(to right, #f3f2f2, #fcfcfc);
      box-shadow: 1px 1px 2px #474747;
      transition: 0.5s ease-in-out;

      &:hover {
        box-shadow: 2px 2px 4px #474747;
      }

      a {
        width: inherit;
        img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > p {
        padding: 0 0.5rem 0.5rem;
        color: #878787;
      }

      .name-and-price {
        display: flex;
        justify-content: space-between;
        align-items: end;
        padding: 0.5rem;

        > p {
          &:first-child {
            max-width: 65%;
            font-weight: 500;
            font-size: 1.2rem;
            font-family: "Oswald", sans-serif;
          }
          &:last-child {
            color: #3b3b3b;
          }
        }
      }

      .admin-controls {
        display: flex;

        a, button {
          flex-basis: 50%;
          padding: 0.2rem;
          background: transparent;
          border: none;
          border-top: 1px solid #474747;
          text-align: center;
          font-size: 1rem;
          color: #000;
          cursor: pointer;
          transition: 0.5s ease-in-out;

          &:first-child {
            border-right: 0.5px solid #474747;
          }

          &:last-child {
            border-left: 0.5px solid #474747;
          }

          &:hover {
            color: #fff3f3;
            background: #363535;
          }
        }
      }
    }
  }
}

@media screen and (pointer: coarse) and (max-width: 960px) {
  .store {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
      li {
        width: 120px;
        a img {
          height: 120px;
        }
      }
    }
  }
}
