.pagination {
  display: flex;
  gap: 0.5rem;
  margin: 0 auto 1rem;

  > a {
    font-size: 1.8rem;
    color: #ba6247;
    background: #e0dddb;
    text-align: center;
    width: 1.8rem;
    border: 1.5px solid #ba6247;
    border-radius: 3px;

    &:hover {
      color: #1b1b1b;
      border-color: #1b1b1b;
    }
  }
}
