.user-nav-menu {
  --translate: 0, -100%;
  --offset: 0;
  --rounded: var(--rounded-sm);
  position: absolute;
  inset: var(--offset) 0 auto auto;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.25rem;
  height: fit-content;
  padding: 2rem 1rem 0.5rem;
  border: var(--border);
  border-width: 1px 0 1px 1px;
  border-radius: var(--rounded) var(--rounded) 0 var(--rounded);
  background: var(--page-alt);
  box-shadow: var(--shadow-pop);
  opacity: 0;
  transform: translate(var(--translate));
  transition: var(--transition);

  &.visible { --translate: 0, 0; opacity: 1; }

  @media (pointer: coarse) and (orientation: landscape) {
    --translate: -100%, 0;
    position: fixed;
    inset: 0 auto auto var(--offset);
    padding: 0.5rem 1rem 0.5rem 2rem;
    border-width: 0 1px 1px 1px;
    border-radius: var(--rounded) 0 var(--rounded) var(--rounded);
  }

  button:not([data-theme-toggle]) {
    width: 64px;
    font-weight: 600;
    text-align: left;
    transition: font-weight var(--transition);
    background: none;
    border: none;
    &:hover { font-weight: 800; }
  }
}
