.cart {
  display: flex;
  flex-direction: column;
  min-height: 280px;
  max-height: calc(100dvh - 100px);
  max-width: var(--screen-sm);
  width: 95%;
  margin: 0.5rem auto 1rem;

  h1 {
    font-size: var(--text-2xl);
    padding-left: 1rem;
    font-weight: 300;
  }
}

.cart-items {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  overflow-y: scroll;
  box-shadow: var(--shadow-inset);
  background-color: var(--stone-300); /* overwrites .box - one-off color scheme, not re-used */

  @media (prefers-color-scheme: dark) { background-color: var(--stone-600); }

  li {
    display: flex;
    flex-wrap: wrap;
    min-height: fit-content;
    max-width: 100%;
    overflow-y: hidden;
    background: var(--box);
  }
}

.item-img {
  flex: 1 0;
  display: flex;

  img {
    flex: 1;
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-right: var(--border) var(--fg);
    cursor: pointer;
  }
}

.item-info {
  flex: 1 1 40%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 0.5rem;

  h2 {
    width: 100%;
    text-transform: uppercase;
    font-weight: 300;

    &:last-of-type {
      color: var(--text);
      font-size: var(--text-sm);
      font-weight: 200;
      padding-left: 0.5rem;
    }
  }

  > p {
    margin-top: auto;
    max-width: 100%;
    font-weight: 200;
  }
}

.cart-total {
  text-align: end;
  margin: 0.25rem 1rem 0.25rem auto;
  font-weight: 300;
}

.cart-empty {
  font-size: var(--text-xl);
  font-weight: 300;
  text-align: center;
  padding: 1rem;
  width: inherit;
  max-width: inherit;
}

.cart-buttons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: auto 0;
  padding: 0.1rem 0;
  max-width: 100%;
  overflow-y: hidden;
  overflow-x: scroll;

  &::-webkit-scrollbar-thumb { background: var(--text); }

  > p {
    width: 20px;
    text-align: center;
    color: var(--text);
    font-weight: 500;
  }
}

.cart-button {
  button {
    padding: var(--padding-xs);
    border: none;
    border-radius: var(--rounded-xs);
    background: var(--text);
    transition: 0.9s step-start;

    i { color: var(--box); }
    &:hover { transform: scale(0.9); }
  }
}

.checkout-button {
  align-self: end;
  .button { --color: var(--bg); } /* default .class overwrite */
}
