.not-found {
  margin: 5rem auto;
  padding: 0 1rem;
  text-align: center;
  font-size: var(--text-3xl);
}

.banner {
  background: var(--accent);
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow: var(--shadow-xl);

  img {
    margin: auto;

    &:first-of-type { width: 200px; }

    &:last-of-type {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 1450px;
      z-index: -1;
    }
  }
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1rem auto;
  width: var(--screen-md);
  max-width: 95%;
  overflow: hidden;

  > img {
    flex: 1 1;
    width: 50%;
    object-fit: cover;
  }
}

.info {
  flex: 1 1;
  width: 100%;
  display: flex;
  flex-direction: column;

  > h1 {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0 0.5rem;
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;

    > span {
      text-transform: capitalize;
      font-size: var(--text-4xl);

      &:last-child { font-size: var(--text-base); }
    }
  }

  > p {
    max-height: 100px;
    overflow-y: auto;
    padding: 0 1rem 0.5rem;
    line-height: 1.45;
    text-align: justify;
    text-align-last: center;
  }

  > h2 {
    padding: var(--padding-md);
    font-size: var(--text-xl);
    font-weight: 700;
    color: var(--bg);
    background: var(--accent);
    text-align: center;
    box-shadow: var(--shadow-top);
  }
}

.icons {
  display: flex;
  justify-content: space-evenly;

  i {
    flex-basis: 25%;
    padding: 2rem 0;
    text-align: center;
    color: var(--accent);
    border-right: var(--border) var(--accent);
    font-size: clamp(1rem, 5vw, 2rem);

    &:last-of-type { border: none; }
  }
}

.actions {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 1rem;
  overflow: auto;

  > p {
    margin-top: auto;
    margin-bottom: 0.5rem;
    font-size: var(--text-2xl);
  }

  > button { padding: 1rem; }
}
