.store {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 900;
    padding: var(--padding-md);
    background: var(--box);
    color: var(--accent);
    box-shadow: var(--shadow-lg);
  }
}

.item-list {
  --max: 180px;
  --font-item: var(--text-sm); /* # font-item */
  --font-seller: var(--text-sm); /* # font-seller */
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(120px, var(--max)));
  justify-content: center;
  overflow-x: scroll;
  padding: 1rem;

  @media (min-width: 1024px) { --max: 300px; --font-item: var(--text-base); } /* # font-item */
  @media (max-width: 320px)  { --max: 100%;  }

  li {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    overflow: hidden;
    font-size: var(--font-item); /* # font-item */
    transition: 0.5s ease-in-out;

    &:hover { box-shadow: var(--shadow-pop); }
  }

  &.hero {
     --font-item: var(--text-base); /* # font-item */
    grid-template-columns: auto;
    max-width: var(--screen-lg);
    margin: 0 auto;

    @media (min-width: 768px) {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows:    repeat(2, 1fr);

      li:first-child       { --font-item: var(--text-2xl); --font-seller: var(--text-xl); } /* # font-(item|seller) */
      li:first-child       { grid-column: span 4; grid-row: span 2; }
      li:not(:first-child) { grid-column: span 2; grid-row: span 1; }
      li:only-child        { grid-column: span 2; grid-row: span 2; }
    }
  }
}

.item-img {
  flex: 1;
  position: relative;

  > img {
    aspect-ratio: 1;
    width: 100%;
    object-fit: cover;
  }
}

.item-img-seller {
  position: absolute;
  bottom: 1.25rem;
  padding: var(--padding-xs);
  font-size: var(--font-seller); /* # font-seller */
  background: var(--box);
  border: var(--border) var(--fg);
  border-left: none;
  border-top-right-radius: var(--rounded-md);
  border-bottom-right-radius: var(--rounded-md);

  > strong { text-transform: capitalize; }
}

.item-name-price {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0 1rem;
  text-transform: capitalize;

  strong { max-width: 65%; }
}

.item-description {
  padding: 0 1rem 0.5rem;
}

.item-controls {
  display: flex;

  a, button {
    flex-basis: 50%;
    padding: 0.25rem;
    background: transparent;
    border: none;
    border-top: var(--border) var(--fg);
    text-align: center;
    transition: 0.5s ease-in-out;

    &:first-child { border-right: var(--border) var(--fg); }

    &:hover {
      background: var(--accent);
      color: var(--bg);
    }
  }
}
