.store {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 900;
    padding: 0.5rem 1rem;
    background: var(--box);
    color: var(--accent);
    box-shadow: var(--shadow-lg);
  }

  ul {
    display: grid;
    gap: 1rem;
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
    justify-content: center;
    overflow-x: scroll;

    li {
      display: flex;
      flex-direction: column;
      width: 200px;
      box-shadow: 1px 1px 2px #474747;
      transition: 0.5s ease-in-out;

      &:hover {
        box-shadow: 2px 2px 4px #474747;
      }

      a {
        width: inherit;
        position: relative;
        > img {
          height: 200px;
          width: 100%;
          object-fit: cover;
        }

        > span {
          position: absolute;
          bottom: 0.4rem;
          padding: 0.1rem 0.2rem;
          font-size: 0.8rem;
          color: #2e2e2e;
          background: #f4efef;
          border: 1px solid #000;
          border-left: 0;
        }
      }

      p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      > p {
        padding: 0 0.5rem 0.5rem;
        color: #878787;
      }
    }
  }
}

.name-and-price {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 0.5rem;

  > p {
    &:first-child {
      max-width: 65%;
      font-weight: 500;
      font-size: 1.2rem;
    }
    &:last-child {
      color: #3b3b3b;
    }
  }
}

.admin-controls {
  display: flex;

  a,
  button {
    flex-basis: 50%;
    padding: 0.2rem;
    background: transparent;
    border: none;
    border-top: 1px solid #474747;
    text-align: center;
    font-size: 1rem;
    color: #000;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:first-child {
      border-right: 0.5px solid #474747;
    }

    &:last-child {
      border-left: 0.5px solid #474747;
    }

    &:hover {
      color: #fff3f3;
      background: #363535;
    }
  }
}

.modal-confirm {
  > div {
    display: flex;
    gap: 1rem;
    padding: 0.1rem;
    overflow-x: scroll;
  }

  button:first-of-type {
    color: var(--bg);
    border-color: var(--bg);
    background: var(--error);
  }
}

.modal-confirm, .modal-error {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  text-align: center;
  animation: fadeIn 0.3s ease forwards;

  &[closing] { animation: fadeOut 0.3s ease forwards; }
  > p {  margin-bottom: 1rem; }

  button {
    padding: 0.25rem;
    width: 130px;
    background: var(--bg);
    border: var(--border-fg);
    border-radius: var(--radius-md);
    transition: 0.5s ease-in-out;

    &:hover { filter: brightness(0.75);  }
  }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translate(-50%, -60%); }
  to   { opacity: 1; transform: translate(-50%, -50%); }
}

@keyframes fadeOut {
  from { opacity: 1; transform: translate(-50%, -50%); }
  to   { opacity: 0; transform: translate(-50%, -60%); }
}

@media screen and (pointer: coarse) and (max-width: 960px) {
  .store {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
      li {
        width: 120px;
        a {
          > img {
            height: 120px;
          }

          > span {
            font-size: 0.5rem;
          }
        }

        > p {
          font-size: 0.8rem;
          padding: 0 0.25rem 0.25rem;
        }
      }
    }
  }

  .name-and-price {
    padding: 0.25rem;
    > p {
      &:first-child {
        font-size: 0.9rem;
      }
      &:last-child {
        font-size: 0.8rem;
      }
    }
  }
}
