.store {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
    font-size: var(--text-xl);
    font-weight: 900;
    padding: var(--padding-md);
    background: var(--box);
    color: var(--accent);
    box-shadow: var(--shadow-lg);
  }
}

.list {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, max-content));
  justify-content: center;
  overflow-x: scroll;

  li {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    width: 200px;
    overflow: hidden;
    transition: 0.5s ease-in-out;

    &:hover { box-shadow: var(--shadow-pop); }

  }
}

.item-img {
  position: relative;
  > img {
    height: 200px;
    width: 100%;
    object-fit: cover;
  }
}

.sold-by {
  position: absolute;
  bottom: 0.4rem;
  padding: var(--padding-xs);
  font-size: var(--text-sm);
  background: var(--box);
  border: var(--border) var(--fg);
  border-left: none;
  border-top-right-radius: var(--rounded-md);
  border-bottom-right-radius: var(--rounded-md);

  > strong { text-transform: capitalize; }
}

.name-and-price {
  display: flex;
  justify-content: space-between;
  padding: 0 0.75rem;
  text-transform: capitalize;

  strong { max-width: 65%; }
}

.description {
  padding: 0 0.75rem;
  padding-bottom: 0.25rem !important; /* allows single line @media p-l/r overwrites */
}

.admin-controls {
  display: flex;

  a, button {
    flex-basis: 50%;
    padding: 0.25rem;
    background: transparent;
    border: none;
    border-top: var(--border) var(--fg);
    text-align: center;
    transition: 0.5s ease-in-out;

    &:first-child { border-right: var(--border) var(--fg); }

    &:hover {
      background: var(--accent);
      color: var(--bg);
    }
  }
}

@media screen and (pointer: coarse) and (max-width: 960px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(120px, max-content));
    li {
      width: 120px;
      a > img  { height: 120px; }
    }
  }

  .sold-by, .name-and-price, .description, .admin-controls { font-size: 50%; }
  .name-and-price, .description { padding: 0 0.5rem; }
  .admin-controls {
    a, button { padding: 0.125rem; }
  }
}
