.form {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  padding: 1rem;
  background: linear-gradient(to right, #ededed, #fff);
  border-radius: 2px;

  > button {
    align-self: end;
    font-weight: 900;
    border-radius: 2px;
  }
}
