.picker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 187px;
  border: var(--border-accent);
  border-radius: 2px;
  cursor: pointer;

  > input {
    display: none;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }

  > span {
    font-size: var(--text-sm);
    font-weight: 300;
    color: var(--accent);
  }
}
