.picker {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 186px;
  border: 1px solid #12a1a1;
  border-radius: 2px;
  cursor: pointer;

  > input {
    display: none;
  }

  > img {
    height: 100%;
    object-fit: cover;
  }

  > span {
    font-family: "Oswald", serif;
    font-size: 0.8rem;
    font-weight: 300;
    color: #12a1a1;
  }
}
