.login-form {
  align-self: center;
  max-width: 250px;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  &::-webkit-scrollbar {
    height: 0; /* appears on shake. Needs to be hidden on form */
    width: 0;
  }

  &.alternate {
    h2 {
      color: #a16512;
      border-color: #a16512;
    }

    .form-link {
      color: #a16512;
    }
  }

  /* override functional component CSS */
  label {
    font-size: 1rem;
  }

  input {
    width: 100%;
    font-size: 0.9rem;
    height: 1.2rem;
  }

  > h2 {
    text-align: center;
    text-transform: capitalize;
    text-wrap: nowrap;
    overflow-x: scroll;
    font-weight: 900;
    font-size: 1.8rem;
    margin-bottom: -0.5rem;
    padding: 0.25rem 0.5rem;
    color: #732655;
    border: 2px solid #732655;
    background: var(--box-gradient);
  }

  > section {
    display: flex;
    gap: 0.5rem;
  }

  .form-link {
    font-size: 0.7rem;
    font-weight: 900;
    margin-top: 0.2rem;
    margin-bottom: -0.8rem;
    background: none;
    border: none;
    color: #732655;
  }

  > button:last-of-type {
    align-self: end;
    width: 84px;
  }
}
