.send-msg {
  position: relative;
  border-top: 1px solid var(--team-green);
  width: 100%;
  max-width: 600px;
  background: var(--box-gradient);

  > textarea, > button {
    display: block;
    width: inherit;
    border: none;
  }

  > textarea {
    resize: none;
    border-bottom: 1px solid var(--team-green);
    padding: 0.5rem;
    font-size: 0.8rem;
    text-align: justify;
    background: var(--box-gradient);
  }

  > button {
    color: #fff;
    background: #287a91;
    font-size: 0.9rem;
    padding: 0.25rem 0.5rem;
    font-family: "Oswald", sans-serif;
    font-weight: 900;
    text-transform: capitalize;
  }
}

.alternate {
  margin: 0.25rem auto;
  border: 1px solid #000;

  > textarea {
    border-bottom: 1px solid #000;
  }

  > button {
    background: #949494;
  }
}

.compact {
  > textarea {
    padding: 0.25rem;
    font-size: 0.5rem;
  }

  > button {
    padding: 0.125rem 0.25rem;
    font-size: 0.5rem;
  }
}
