/* uses .floating-box */
.chat-item {
  --color: var(--text);
  --background: var(--box);
  --header: var(--fg);
  --counter: var(--accent);
  --img: var(--text);

  display: flex;
  flex-direction: column;
  max-height: 100%;
  background: var(--background);
  border-color: var(--color);
  transition: background 0.5s ease, border 0.5s ease;
  /* flex: 1; */ /* set via Framer 0 | 1 */

  /* all <spans> use .truncate */
  span {
    transition: color 0.5s ease, background 0.5s ease;
  }

  > header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;

    > img {
      border-color: var(--img);
      transition: border-color 0.3s ease;
    }

    /* Recipient name  */
    > span {
      color: var(--header);
      text-align: center;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.2rem;
    }

    /* Back Button (Expanded) */
    > button {
      margin-left: auto;
    }

    /* Last Message info (Collapsed): timestamp, sender/counter & lastMsg */
    > p {
      max-width: 40%;
      margin-left: auto;
      display: flex;
      flex-direction: column;
      align-items: end;

      > span {
        max-width: 100%;
        font-size: var(--text-sm);
        color: var(--color);
      }
    }
  }
}

/* Recipient name & counter */
.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.2rem;
  font-weight: 700;

  > span {
    /* Counter override - remove absolute positioning */
    &:last-of-type {
      position: static;
      color: var(--background);
      background: var(--counter);
    }

    /* first-of-type loads last & overwrites background when only 1 child span */
    &:first-of-type {
      color: var(--counter);
      background: none;
    }
  }
}

.marked {
  --background: var(--error);
  --img: var(--error);
  --color:   var(--bg);
  --header:  var(--bg);
  --counter: var(--bg);
}
