.error {
  margin: 2rem auto;
  text-align: center;

  h1 {
    margin-bottom: 1rem;
    font-size: var(--text-3xl);
  }

  a {
    font-size: var(--text-lg);
    font-weight: 700;
    color: var(--accent-2);
    transition: 0.5s ease;

    &:hover {
      font-weight: 900;
      color: var(--hover);
    }
  }
}
