.form-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 0.5rem;
  padding: 0.75rem;
  background: var(--text-alt);
  color: var(--page);
  box-shadow: var(--shadow-pop);
}
