.edit-image {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;

  > button {
    width: 200px;
    margin: 0.25rem;
  }

  > label {
    max-width: 200px;

    @media screen and (min-width: 768px) { max-width: 280px; }
  }
}
