.chat-list {
  flex: 1;
  max-width: 600px;
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  > li {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--team-green);
    background: var(--box-gradient);

    > h2 {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      overflow-x: auto;
      overflow-y: hidden;
      padding: 0.25rem;
      font-weight: 600;

      > span {
        font-size: 0.9rem;
        text-align: center;
        text-wrap: nowrap;
      }

      > button {
        margin-left: auto;
        background: none;
        font-weight: 700;
        padding: 0.1rem 0.2rem;
        color: var(--team-green);
        border: 1px solid var(--team-green);
      }
    }
  }
}
