.chat-box {
  position: relative;
  margin: auto auto 0.75rem;
  width: 94%;
  border: var(--border) var(--text-alt);
  border-radius: var(--rounded-4xl);
  box-shadow: var(--shadow-pop);
  background: var(--page);
  overflow: hidden;

  @media (max-width: 768px) {
    --rounded: var(--rounded-xl);
    width: 99%;
    margin-bottom: 0.5%;
    border-bottom-right-radius: var(--rounded);
    border-bottom-left-radius: var(--rounded);
  }

  > textarea, > button {
    display: block;
    width: 100%;
    border: none;
  }

  > textarea {
    resize: none;
    padding: 0.75rem 1.5rem;
    text-align: justify;
    background: var(--page);
  }

  > button {
    color: var(--page);
    background: var(--text-alt);
    font-size: var(--text-sm);
    height: 1.5rem; /* prevent loader/text layout shifts */
    padding: 0 0.4rem; /* padding t/b useless when height set */
    font-weight: 500;
    text-transform: capitalize;
    overflow-x: scroll;
    text-wrap: nowrap;

    > span { max-width: 100%; }
    &::-webkit-scrollbar-thumb { background: var(--page); }
  }
}
