/* uses .box  */
.picker {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 500px;
  min-height: 200px;
  aspect-ratio: 1;
  overflow: hidden;
  padding: 0.5rem;
  cursor: pointer;

  > input { display: none; }

  > img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: initial;
    object-fit: contain;
    box-shadow: var(--shadow-pop);
    border-radius: var(--rounded-md);
  }

  > span {
    font-size: var(--text-sm);
    font-weight: 300;
  }
}
