.control {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;

  label {
    color: var(--accent);
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 0.5rem;
    transition: color 0.5s ease;
  }

  /* uses .box */
  input, textarea {
    padding: var(--padding-sm);
    font-size: var(--text-xl);
    resize: none;
    transition: color 0.5s ease, border-color 0.5s ease;
  }
}

.error {
  input, textarea, label { color: var(--danger); }
  input, textarea { border-color: var(--danger); }
}
