.nav-button {
  color: #ffffff;
  transition: 0.5s ease-in-out;
  padding: 0.25rem;
  font-family: "Oswald", serif;
  font-weight: 700;
  font-size: 1.2rem;
  background: none;
  border: none;
  position: relative;

  .active-tab {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #85eded;
    left: 0;
    bottom: 0.1rem;
    border-radius: 3px;
    transition: background 0.5s ease-in-out;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.6;
  }

  &.active {
    color: #85eded;

    &:hover {
      color: #74caca;

      .active-tab {
        background: #74caca;
      }
    }
  }

  &:hover {
    color: #bebcbc;

    .active-tab {
      background: #bebcbc;
    }
  }

  &.mobile {
    &:hover {
      color: #85eded;

      .active-tab {
        background: #85eded;
      }
    }
  }
}
