.messages {
  --align: start;
  --margin: 0 1rem 0 0;
  --color: var(--accent);
  --background: var(--page);

  flex: 1;
  min-height: 0;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: var(--padding-md);
  margin: 0.1rem;

  > li {
    display: flex;
    flex-direction: column;
    align-items: var(--align);
    margin: var(--margin);

    > time {
      font-size: var(--text-sm);
      color: var(--text-alt);
    }

    > p {
      border-radius: var(--rounded-lg);
      box-shadow: var(--shadow-xl);
      padding: var(--padding-sm);
      overflow-wrap: break-word;
      max-width: 100%;
      color: var(--color);
      background: var(--background);
      border: var(--border) var(--accent);
    }

    &.sender {
      --align: end;
      --margin: 0 0 0 1rem;
      --color: var(--page);
      --background: var(--accent);
    }
  }
}
