.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  max-width: 600px;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-y: scroll;

  /* uses floating box class */
  li {
    width: 100%;
    padding: 1rem;
  }

  &::-webkit-scrollbar { height: 0; width: 2px; }

  /* uses floating box class */
  .fallback{
    cursor: auto;
    font-family: var(--font-minor);
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.25rem 1.5rem;
    /* ignore grid placement when the UL is a grid */
    place-self: center;
    grid-column: 1 / -1;
  }
}
