.resize-container {
  width: 100%;
  max-width: var(--screen-sm);
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-y: scroll;

  > li { width: 100%; }
}

.list-header {
  width: 100%;
  max-width: var(--screen-sm);
  margin: 0 auto;
  padding: 1rem;

  &.header-title {
    position: relative; /* enable stacking relative to .list */
    z-index: 1; /* stack on top of .list */
    display: flex;
    gap: 0.125rem;
    align-items: flex-end;
    padding: 0 1.25rem;
    text-decoration: underline;
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 1px;
    transform: translateY(0.2rem);
  }
}
