.post-content {
  --offset: 5%;
  align-self: center;
  width: 100%;
  max-width: var(--screen-sm);
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  > h2 { margin: 0 1rem 0.2rem auto; } /* <NameTag> */
}

.post-body {
  padding: 0.5rem;
  margin-left: var(--offset);

  > h2 {
    display: flex;
    justify-content: space-between;
    padding: 0 0.5rem;
  }
}

.content {
  overflow-y: scroll;
  max-height: 300px;
  font-weight: 300;
  text-align: center;
  padding: 0 1rem;
  margin: 0.5rem 0;
  max-width: 100%;
  overflow-wrap: break-word;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 0.5rem;
  overflow-x: scroll;
  padding: 0 0.5rem 0.5rem;

  > button { width: 80px; }
}

.image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% - var(--offset));
  max-height: 400px;
  min-height: 200px;
  margin: 1rem 0;
  padding: 1rem;
  aspect-ratio: 1;
  overflow: hidden;

  > img {
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: initial;
    object-fit: contain;
    box-shadow: var(--shadow-pop);
    border-radius: var(--rounded-md);
  }
}
