.alert {
  > time {
    display: block;
    text-align: end;
    margin-top: -0.25rem;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 0.375rem;
  padding: 0.5rem;
  padding-top: 0.25rem;

  > h2     { cursor: auto;       } /* default override */
  strong   { cursor: pointer;    }
  > button { align-self: center; }
}
