.social-alerts {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  li {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.25em;
    padding: 1rem 0.25rem 0.25rem;
    background: var(--box);
    color: var(--accent);
    border: var(--border-accent);

    .buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      margin-top: 0.25rem;

      > button {
        width: 70px;
        border-radius: 5px;
        padding: 0.1rem 0.2rem;
        font-weight: 600;
      }
    }

    .cancel-btn {
      padding: 0.1rem 0.25rem;
      border: 0;
      border-radius: 5px;
      color: #fff;
    }
  }
}

.fallback {
  padding: 0.25rem;
  margin: auto;
  text-align: center;
}
